@{
    ViewData["Title"] = "Alianzas";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Alianzas con Start Peru</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="~/css/Home/Alianza_estilo.css" rel="stylesheet" />
    
</head>
<body>

    <div class="bajar">
        <div class="atras" style="border: double 4px white; color:darkseagreen">
            <div class="small-text">
                <h2 class="abajo" style="font-family: 'Roboto', sans-serif; font-size: 31px; font-weight: bold; color: white;"> 🛫Nuestros Socios: Alianzas Aéreas que Te Conectan🛬</h2>
            </div>
              
        </div>
        <div class="separa">
            <div class="cuad" style="color: dimgray; border: double 4px white;">
                &nbsp;
                <h3 class="bi bi-aspect-ratio-fill" style="color:#130255; text-align:center; margin-top: 15px; "> ¿Que son? </h3>
                <h4 style="color:#ede4e4; margin: 0 20px;">
                    La alianza entre StartPeru y una selección de aerolíneas aliadas es una colaboración estratégica diseñada para ofrecer a nuestros clientes una experiencia de viaje mejorada y más accesible. A través de esta asociación, buscamos unir fuerzas para ampliar nuestras ofertas y facilitar a los viajeros el acceso a una amplia gama de destinos nacionales e internacionales.
                </h4>
                <hr style="border: 1px solid white; margin: 10px 0; color:white">

                <div class="contenedor">
                    <div class="cuadro ">
                        <h2 style="font-size: 39px; font-family:'Calisto MT'; text-align: center; line-break:strict; color:white">
                            Avianca
                        </h2>
                        <h3 style="color:darkgray">»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»</h3>
                        <h3 class="derecha" style="font-size: 30px; font-family: 'Calisto MT'; color:#00000080">
                            La alianza entre Star Perú y Avianca se formalizó en 2015, con el objetivo de mejorar la conectividad y
                            la experiencia del viajero en la región. Esta colaboración permite a los pasajeros de Star Perú acceder
                            a la extensa red de destinos de Avianca, facilitando conexiones más eficientes y una mayor flexibilidad
                            en la planificación de viajes.
                            Además, los viajeros pueden beneficiarse de servicios compartidos, como el check-in y la acumulación de
                            millas en programas de fidelidad. Esta alianza responde a la necesidad de ofrecer una experiencia
                            integral y conveniente, ampliando las opciones de viaje y optimizando la logística en rutas nacionales
                            e internacionales.   
                        </h3>
                        <h3 style="color:darkgray">»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»</h3>
                        <i class="bi bi-instagram"><a href="https://www.instagram.com/avianca/" style="color:white;">Instagram</a></i>
                        <i class="bi bi-facebook"> <a href="https://www.facebook.com/aviancaglobal/?locale=es_LA" style="color:white;">Facebook</a>  </i>
                        <i class="bi bi-twitter"> <a href="https://x.com/avianca?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" style="color:white;">Twitter</a> </i>
                        <i class="bi bi-airplane"> <a href="https://www.avianca.com/es/ofertas-destinos/ofertas-de-vuelos/" style="color:white;">✈︎Sitio Oficial</a></i>
                    </div>
                    
                    <div class="imagen1"> </div>



                    <div class="cuadro ">
                        <h2 style="font-size: 39px; font-family:'Calisto MT'; text-align: center; line-break:strict; color:white">
                            LATAM Airline
                        </h2>
                        <h3 style="color:darkgray">»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»</h3>
                        <h3 class="derecha" style="font-size: 30px; font-family: 'Calisto MT'; color:#00000080">
                            La alianza entre Star Perú y LATAM Airlines se formalizó en 2017, con el objetivo de mejorar la conectividad
                            y ofrecer una mayor gama de destinos a los pasajeros. Esta colaboración permite a los viajeros de Star Perú
                            acceder a la extensa red de rutas de LATAM, facilitando conexiones eficientes y la acumulación de millas
                            en programas de fidelidad. La alianza busca optimizar la experiencia de viaje, expandiendo opciones tanto
                            a nivel nacional como internacional.  
                        </h3>
                        <h3 style="color:darkgray">»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»</h3>
                        <i class="bi bi-instagram"><a href="https://www.instagram.com/latamairlines/?hl=es" style="color:white;">Instagram</a></i>
                        <i class="bi bi-facebook"> <a href="https://www.facebook.com/LATAMPeru/?locale=es_LA" style="color:white;">Facebook</a>  </i>
                        <i class="bi bi-twitter"> <a href="https://x.com/latamairlines?lang=es" style="color:white;">Twitter</a> </i>
                        <i class="bi bi-airplane"> <a href="https://www.latamairlines.com/pe/es?gclsrc=aw.ds&gad_source=1&gclid=EAIaIQobChMIl7yU7auqiQMV8WFIAB1wAQl4EAAYASAAEgItpfD_BwE" style="color:white;">✈︎Sitio Oficial</a></i>
                    </div>
                    <div class="imagen2"> </div>

                    <div class="cuadro ">
                        <h2 style="font-size: 39px; font-family:'Calisto MT'; text-align: center; line-break:strict; color:white">
                            American Airlines
                        </h2>
                        <h3 style="color:darkgray">»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»</h3>
                        <h3 class="derecha" style="font-size: 30px; font-family: 'Calisto MT'; color:#00000080">
                            La alianza entre American Airlines y LATAM Airlines se formalizó en 2016, como parte de un acuerdo de cooperación
                            estratégica. Esta colaboración permite a los pasajeros disfrutar de una red de rutas ampliada, facilitando
                            conexiones entre América del Norte y América del Sur. Los viajeros pueden beneficiarse de servicios compartidos,
                            como la acumulación de millas en programas de fidelidad y la mejora de la experiencia de viaje, optimizando la
                            conectividad en ambas regiones.
                        </h3>
                        <h3 style="color:darkgray">»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»</h3>
                        <i class="bi bi-instagram"><a href="https://www.instagram.com/americanair/?hl=es" style="color:white;">Instagram</a></i>
                        <i class="bi bi-facebook"> <a href="https://www.facebook.com/AmericanAirlines/" style="color:white;">Facebook</a>  </i>
                        <i class="bi bi-twitter"> <a href="https://twitter.com/americanair" style="color:white;">Twitter</a> </i>
                        <i class="bi bi-airplane"> <a href="https://www.aa.com/es-pe/vuelos?c=SEM%7CGOOG%7Calways_on%7CMKT%7CLAM%7CTXT%7Camerican%20airlines%7CPE_MCLA_MKT_Google_Brand_X_Peru_ES_X$$&gad_source=1&gclid=EAIaIQobChMIj8ne9ayqiQMVB0FIAB3PvTKKEAAYASAAEgICH_D_BwE&gclsrc=aw.ds" style="color:white;">✈︎Sitio Oficial</a></i>
                    </div>
                    <div class="imagen3"> </div>
                </div>

            </div>

        </div> 
    </div>
    <div style="height: 50px;"></div> 
    

    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts_index.js"></script>
</body>
</html>


