@{
    ViewData["Title"] = "Destinos";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinos en Perú</title>
    <link rel="stylesheet" href="~/css/Home/destinos.css">
</head>
<body>
    <!-- Barra de navegación -->
    <header class="navbar">
        <div class="nav-content">
            <a href="../Views/Home/Index.cshtml" class="nav-item">Home</a>
            <a href="../Views/Home/Servicios_al_cliente.cshtml" class="nav-item">Contacto</a>
        </div>
    </header>

    <!-- Contenido principal de destinos -->
    <div class="container">
        <div class="gallery">
            <a href="#" class="image-box chiclayo">
                <img src="~/img/chiclayo.jpeg" alt="Chiclayo">
                <p>CHICLAYO</p>
            </a>
            <a href="#" class="image-box cajamarca">
                <img src="~/img/cajamarca.jpeg" alt="Cajamarca">
                <p>CAJAMARCA</p>
            </a>
            <a href="#" class="image-box huanuco">
                <img src="~/img/huanuco.jpeg" alt="Huánuco">
                <p>HUÁNUCO</p>
            </a>
            <a href="#" class="image-box lima">
                <img src="~/img/lima.jpeg" alt="Lima">
                <p>LIMA</p>
            </a>
            <a href="#" class="image-box iquitos">
                <img src="~/img/iquitos.jpeg" alt="Iquitos">
                <p>IQUITOS</p>
            </a>
            <a href="#" class="image-box tarapoto">
                <img src="~/img/tarapoto.jpeg" alt="Tarapoto">
                <p>TARAPOTO</p>
            </a>
            <a href="#" class="image-box pucallpa">
                <img src="~/img/pucallpa.jpeg" alt="Pucallpa">
                <p>PUCALLPA</p>
            </a>
            <a href="#" class="image-box interdestinos">
                <img src="~/img/interdestinos.png" alt="Interdestinos">
                <p>INTERDESTINOS</p>
            </a>
        </div>
    </div>
</body>
</html>